@{
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Acceso Portal</title>
    <link href="~/css/Display.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Views/Login/Index.css" asp-append-version="true" />


    <link href="~/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/sweetalert2.min.css">
    <script src="~/js/sweetalert2.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="container-login">
            <div class="container-form">
                <div style="display: flex; align-items: center;">
                    <h2 style="color: #455a64;">Iniciar sesión</h2>
                    <img src="~/img/logo_elec.png" />
                </div>
                <form class="formulario" action="@Url.Action("ValidarSession", "Login")" method="post">
                    <!-- Otros campos del formulario -->
                    <div class="input">
                        <input placeholder="Ingresa tu nombre" name="UsuarioRed" type="text" id="usuario">
                    </div>
                    <div class="input">
                        <input placeholder="Ingrese contraseña" name="Clave" type="password" id="contraseña">

                    </div>

                    <div class="input">
                        <select name="Sitio" class="form-select form-select-lg mb-3">
                            <option value="">--Seleccione lugar --</option>
                            <option value="LUREN">LUREN</option>
                            <option value="PEDREGAL">PEDREGAL</option>
                            @if (ViewBag.Pruebas)
                            {
                                <option value="PRUEBAS">PRUEBAS</option>
                            }
                        </select>
                    </div>
                    <div class="input" aria-placeholder="">
                        <input type="submit" id="validar" name="button" value="Enviar" />
                    </div>
                </form>
            </div>
            <!--<a href="@Url.Action("Index", "DescargaReportes")">Ir a la nueva vista</a>-->
        </div>
    </div>
</body>
<script src="~/js/query/jquery-3.7.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('form.formulario').submit(function (e) {
            e.preventDefault();
            console.log("$(this).serialize(), : ", $(this).serialize());
            $.ajax({
                url: '@Url.Action("ValidarSession", "Login")',
                type: 'POST',
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        Swal.fire({
                            title: "Success!!",
                            text: "Bienvenido.",
                            icon: "success",
                            button: "Aww yiss!",
                            willClose: () => {
                                window.location.href = result.redirectUrl;
                            }
                        });
                        
                    }else{
                        Swal.fire({
                            title: "Error",
                            text: result.message,
                            icon: "error",
                            button: "OK",
                        });
                    }

                },
                error: function (error) {
                }
            });
        });
    });
  localStorage.removeItem("DetalleUsuario");
</script>